*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.form {
    width: 50%;
    height: 50%;
    border: 10px solid black;
}
.item1{
    display: flex;
    flex-direction: row;
    gap : 10px;
}
.item2{
    display: flex;
    flex-direction: column;
    gap : 10px;
}
.a{
    height: 30px;
    width: 100px;
    color: #f53d2d;
    background: linear-gradient(-180deg,white,black);
    transition: transform .2s cubic-bezier(.4,0,.2,1);
}
