*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.web {
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    margin: 2px;    
}
.header{
    display: flex;
    gap: 20px;
    justify-content:end;

}
.body {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.conten {
    display: flex;
    flex-direction: column;
}
h3{
    margin-right: 30px;
    margin-top: 20px;
}

 